<div class="sidebar bg-dark text-white p-3">

    <h4 class="mb-4">
        ICMS
    </h4>

    <a href="/" class="menu-item">
        <i class="bi bi-speedometer2"></i>
        Dashboard
    </a>

    <a href="/groups/" class="menu-item">
        <i class="bi bi-people-fill"></i>
        Groups
    </a>

    <a href="#" class="menu-item">
        <i class="bi bi-pin-map-fill"></i>
        Cleaning Areas
    </a>

    <a href="#" class="menu-item">
        <i class="bi bi-calendar3"></i>
        Schedules
    </a>

    <a href="#" class="menu-item">
        <i class="bi bi-printer-fill"></i>
        Reports
    </a>

    <a href="#" class="menu-item">
        <i class="bi bi-gear-fill"></i>
        Settings
    </a>

</div>