{% extends "layouts/base.html" %}

{% block content %}

<div class="container-fluid">

    <div class="card shadow-sm">

        <div class="card-body">

            <h2>
                Dashboard
            </h2>

            <hr>

            <div class="row">

                <div class="col-md-3">

                    <div class="card text-center">

                        <div class="card-body">

                            <h1>{{ 0 }}</h1>

                            <h5>Cleaning Groups</h5>

                        </div>

                    </div>

                </div>

                <div class="col-md-3">

                    <div class="card text-center">

                        <div class="card-body">

                            <h1>{{ 0 }}</h1>

                            <h5>Cleaning Areas</h5>

                        </div>

                    </div>

                </div>

                <div class="col-md-3">

                    <div class="card text-center">

                        <div class="card-body">

                            <h1>{{ 0 }}</h1>

                            <h5>Assignments</h5>

                        </div>

                    </div>

                </div>

                <div class="col-md-3">

                    <div class="card text-center">

                        <div class="card-body">

                            <h1>{{ 0 }}</h1>

                            <h5>Schedules</h5>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}